body 
	{
	background: white;
	padding-bottom: 150px;
	}

a 	
	{
	color:red;
	}

/*<---Nav Board ---> */

.nav
	{
	width: 100%;
	padding: 50px;
	padding-top: 60px;
	padding-right: 105px;
	}

.nav-item 
	{
	background: white;
	display: inline-block;
	padding: 10px;
	border-radius: 5px;
	float: right;
	text-decoration: none;
	color: black;
	font-family: impact;
	font-size: 13px;
	letter-spacing: 1px;
	}

.nav-item:hover
	{
	color: #FFAF73;
	} 

.nav1
	{
	width: 100%;
	color: grey;
	padding-right: 105px;
	top: 0px;
	padding-bottom: 80px;
	}

.nav-item1 
	{
	background: white;
	display: inline-block;
	padding: 10px;
	border-radius: 5px;
	float: right;
	text-decoration: none;
	color: black;
	font-family: impact;
	font-size: 11.2px;
	letter-spacing: 1px;
	}

.nav-item1:hover
	{
	color: #FFAF73;
	} 


.introduction h2
	{
	flex: 33.33 0 33.33%;
	color: grey;
	font-size: 12px;
	font-family: avenir;
	font-style: italic;
	margin-left: 150px;
	padding: 5px;
	}

.title h1
	{
	flex: 33.33 0 33.33%;
	color: grey;
	font-size: 12px;
	font-family: avenir
	margin-left: 115px;
	padding: 5px;
	}

.title h2
	{
	flex: 33.33 0 33.33%;
	color: grey;
	font-size: 12px;
	font-family: avenir
	margin-left: 115px;
	padding: 5px;
	}


.grid1
	{
	display: flex;
	flex-wrap: wrap;
	padding-left: 120px;
	padding-right: 120px;
	}

.thumbnail 
	{
	flex: 0 0 33.33%;
	padding: 10px;
	}

.thumbnail-content 
	{
	padding: 0px;
	line-height: 25px;
	}

.number
	{
	font-weight: bold;
	margin-left: 25px;
	font-family: avenir;
	font-size: 11px;
	}

.title1
	{
	font-weight: lighter;
	margin-left: 25px;
	font-family: avenir;
	font-size: 11px;
	}


.thumbnail img 
	{
	width:100%;
	padding: 25px;
	}



.title2 h1
	{
	flex: 33.33 0 33.33%;
	color: grey;
	font-size: 12px;
	font-family: avenir;
	margin-left: 115px;
	padding: 5px;
	}

.title2 h2
	{
	flex: 33.33 0 33.33%;
	color: grey;
	font-size: 12px;
	font-family: avenir;
	margin-left: 115px;
	padding: 5px;
	}

/*<---Essay page ---> */

.text 
	{
	flex: 33.33 0 66.66;
	padding: 30px;
	margin-left: 55px;
	color: black;
	font-size: 12px;
	font-family: avenir;
	}



.text h1
	{
	color: black;
	font-size: 25px;
	font-family: avenir;
	padding-bottom: 10px;
	margin-left: 60px;
	text-decoration: bold;
	font-weight: bold;
	text-align: left;
	}

.text h2
	{
	color: grey;
	font-size: 12px;
	font-family: avenir;
	padding-bottom: 10px;
	margin-left: 60px;
	font-style: italic;
	text-align: left;
	}



.text p 
	{
	margin-bottom: 20px;
	margin-right: 500px;
	margin-left: 60px;
	color: grey;
	font-family: avenir;
	font-size: 12px;
	padding: 2px;
	line-height: 19px;
	}

.figure 
	{
	flex: 0 0 33.33%;
	padding: 10px;
	}

.figure span
	{
	font-size: 12px;
	color: grey;
	}

.figure img 
	{
	width: 100%
	padding: 50px;
	}

/*interactive classes*/

.research-popup
	{
	cursor:pointer;
	}
	
.popup-item
	{
	cursor: pointer;
	position: fixed;
	width: 100%;
	height: 100vh;
	display: none;
	mix-blend-mode: multiply;
	}

.p1
	{
	position: center;
	}







